body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e6fa;
    color: #660032;
    font-family: "Roboto", sans-serif;
}

.buttons button img {
    width: 100px;
    height: auto;
}

.buttons {
    display: flex;
    gap: 50px;
}

.buttons button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #660032;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.scores {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.scores p {
    padding: 10px;
    border: 2px solid #660032;
    border-radius: 10px;
}

.display {
    font-size: 20px;
    margin-top: 30px;
}

#play-again {
    background-color: #660032;
    color: white;
    font-size: 15px;
    font-family: inherit;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}